body {
    background-color: #1B1B1E;
    margin: 0;
}

a {
    text-decoration: none;
}

#posts {
    word-wrap: break-word;
}

h1, h2, h3, h4 {
    margin: 0; 
}

#container {
    background-color: white;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    min-height: 104vh;
}

#header {
    background-color: #2A2E45;
    position:fixed;
    width:980px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 9fr;
    color: white;
}

#header .nav a {
    color: #959596;
    padding-left: 20px;
}
#header .nav a.selected {
    color: white;
    font-weight: bold;
}

#header .nav-list {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 10px;
    text-decoration: none;
    color: white;
}

#cover {
    padding-top: 360px;
    background-size: 100% auto;
}

#cover-large {
    padding-top: 560px;
    background-size: 100% auto;
}

#cover-small {
    padding-top: 200px;
    background-size: 100% auto;
}

#main {
    /* width: 750px; */
    padding: 10px 10px 10px 10px;
    font-family: 'Raleway', sans-serif;
    line-height: 2;
    font-size: large;
    margin-left: 100px;
    margin-right: 100px;
}

@media screen and (max-width: 992px) {
    #main {
        margin-left: 30px;
        margin-right: 30px;
    }
}

img[src$='#thumbnailX'] {
    height: auto;
    width: 40%;
}

img[src$='#fullwidth'] {
    height: auto;
    width: 100%;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, 16vh);
    grid-gap: 15px;
    justify-content: center;
    justify-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.image-grid img {
    width: auto;
    height: 100%;
}

@media screen and (max-width: 992px) {
    .image-grid {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, 16vh);
    }
}

snippet {
    background-color: #eee;
    font-family: 'Source Code Pro', monospace;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
    line-height: 1.25;
    display: block;
}

#footer {
    padding: 10px;
    clear: both;
    background-color: #59595B;
    color: white;
    text-align: right;
}



/* Navigation Links */
.navbar {
    overflow: hidden;
}

.navbar a {
    /* float: left; */
    font-size: 16px;
    color: white;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    /* padding: 14px 16px; */
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    color: white;
    font-weight: bold;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
/* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
/* z-index: 1; */
}

.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {
background-color: #ddd;
}

.show {
display: block;
}